.git
.gitignore

vendor
node_modules

.env
.env.*
!.env.example

.idea
.vscode
.DS_Store

public/hot
public/storage
storage/*.key

storage/logs/*.log
npm-debug.log

Dockerfile
.dockerignore

README.md
